/*Landing page */
.landing-page {
	background: url("http://www.nhexecutivecouncil.com/StateHouseLg.jpg") no-repeat center center fixed;
	background-position: top;
	background-size: cover;
	height: 100vh;
}

.logo {
	float: left;
}
.links {
	float: right;
	padding-right: 30px;
	padding-top: 10px;
}
.links .btn {
	padding: 15px;
}
.link .btn #active {
	color: #035c7a;
}
.links .btn:hover {
	text-decoration: none;
}

.titlecard-bg {
	position: absolute;
	padding: 100px;
	top: 30%;
	width: 50%;
	height:25%;
	margin-left: 25%;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	background: url("http://www.nhexecutivecouncil.com/StateHouseLg.jpg") no-repeat center center fixed;
	background-position: top;
	background-size: cover;
}

.titlecard {
	border: 2px solid #035c7a;
	position: absolute;
	top: 30%;
	width: 50%;
	height:25%;
	background: none;
	text-align: center;
	margin-left: 25%;
}
.titlecard h1 {
	
}
.titlecard hr {
	width: 60%;
	color: #035c7a;
}

/*Lower page*/

.lower-page {
	box-shadow: inset 0 0 10px #000000;
	height: 100%;
	color: white;
	background-color: #3498db;
}
.lower-page .letter {
	padding: 50px 50px 50px 100px;
	text-align: justify;
}

.lower-page .giveinfo {
	padding: 100px 50px 50px 50px;
	height: 100%;
}

.donate-msg {
	position: absolute;
	bottom: 155px;
}
.donate {
	width: 70%;
	position: absolute;
	bottom: 100px;
}

/* Footer */

.footer {
	height: 150px;
	background: #2980b9;
	color: #ecf0f1;
}
.disclaimer {
	text-align: center;
}

/*Button sharp and outline*/

.btn-success.outline {
	border: 2px solid #2ecc71;
    color: #2ecc71;
}

.btn-success.outline:active, .btn-success.outline:hover, .btn-success.outline:focus {
	border: 2px solid #27ae60;
	background: none;
	color: #27ae60;
}

.btn.sharp {
	border-radius: 0;
}

.btn.sharp {

}

.btn.outline {
	background: none;
	padding: 12px 12px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:active, .btn-primary.outline:hover, .btn-primary.outline:focus {
	border: 2px solid #1b8bad;
	background: none;
	color: #1b8bad;
}


/* Necessary boring modifications */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #CC3300;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #9e2c06;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
