/*Landing page */
.landing-page {
	background: url("https://upload.wikimedia.org/wikipedia/commons/7/70/New_Hampshire_State_House_5.JPG") no-repeat center center fixed;
	background-position: top;
	background-size: cover;
	height: 95vh;
}

.logo {
	float: left;
}



/*Button sharp and outline*/

.btn.sharp {
	border-radius: 0;
}

.btn.outline {
	background: none;
	padding: 12px 12px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:active, .btn-primary.outline:hover, .btn-primary.outline:focus {
	border: 2px solid #1b8bad;
	background: none;
	color: #1b8bad;
}


/* Necessary boring modifications */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
